<div class="container">
  <div class="header">
    <h1>Bienvenue dans l'arène politique !</h1>
    <h2>Qui sera l'élu.e ?</h2>
    <br/>
    <p>L'élu.e du grand conseil des Nations Unies de la Galaxie T est l'influenceur le plus puissant du monde.</p>
    <p>Les éléctions pour ce poste sont imminentes.</p>
    <br/>
    <%= link_to "Lancer une campagne !",  fights_path , class:"btn btn-warning" %>
    <%= link_to "Nouveau candidat.e", new_candidate_path, class: 'btn btn-info' %>
    <%= link_to "Historique", fights_history_path, class:"btn btn-info" %>
  </div>
  <div class="list-group">
    <% @candidates.each do |candidate| %>
      <div class="card-list">
        <div class="avatar-circle" >
          <%= cl_image_tag candidate.photo, crop: :scale, class:"card-avatar" %> 
        </div>
        <%= link_to candidate.name, candidate_path(candidate.id), class:"card-title" %>
        <div class="card-buttons">
          
          <%= link_to "👁", candidate_path(candidate.id), class:"btn watch-btn", title:"Watch" %>
          
          <%= link_to "💫",  edit_candidate_path(candidate.id), class:"btn edit-btn", title:"Edit"%>                      
          
          <%= link_to "✖️", candidate, method: :delete, class:"btn delete-btn", 
                      data: { confirm: "Delete #{candidate.name} ?" }, title:"Delete"%> 
        </div>
      </div>
    <% end %>
  </div>
</div>
