<div class="container">
  <div class="header">
    <h1>Historique</h1>
  </div>
    <% @fight_summaries.each do |fight| %>
      <div class="history-card">
        <%= 'Gagnant: ' %><%= fight['winner'].name %>
        <%= cl_image_tag fight['winner'].photo, width: 100, crop: :scale%>
        <br/>
        <%= 'A utilisé un ' %><%= fight['winner_weapon'].name %>
        <br/>
        <%= 'A attaqué ' %><%= fight['winner_nb_attack'] %><%= ' fois.' %>
        <br/>

        <%= 'Perdant: ' %><%= fight['looser'].name %>
        <%= cl_image_tag fight['looser'].photo, width: 100, crop: :scale%>
        <br/>
        <%= 'A utilisé un ' %><%= fight['looser_weapon'].name %>
        <br/>
        <%= 'A attaqué ' %><%= fight['looser_nb_attack'] %><%= ' fois.' %>
        <br/>
        
        <%= 'Détails: ' %>
        <br/>
        <% fight['detail'].each do |line|%>
          <%= line %>
          <br/>
        <% end %>

        <br/>
        <br/>
        <br/>
      </div>
    <% end %>
    <%= link_to "Retour", request.referer.present? ? request.referer : default_path, class:"btn btn-info" %>
</div>