<div class="container">
  <div class="header">
    <h1>Historique</h1>
    <p>Retracez l'histoire politique de la galaxie T.</p>
  </div>
    <% @fight_summaries.each do |fight| %>
      <div class="history-card">
        <div class="card-list winner-looser-list">
          <div class="character">
            <%= 'Gagnant.e: ' %><%= fight['winner'].name %>
            <div class="small-avatar-circle" >
              <%= cl_image_tag fight['winner'].photo, crop: :scale, class:"small-card-avatar"%>
            </div>
          </div>
          <div class="character-details">
            <%= 'A utilisé un ' %>
            <br/>
            <%= fight['winner_weapon'].name %>
            <br/>
            <br/>
            <%= 'A attaqué ' %><%= fight['winner_nb_attack'] %><%= ' fois.' %>
          </div>
          
          <div class="character">
            <%= 'Perdant.e: ' %><%= fight['looser'].name %>
            <div class="small-avatar-circle" >
              <%= cl_image_tag fight['looser'].photo, crop: :scale, class:"small-card-avatar"%>
            </div>
          </div>
          <div class="character-details">
            <%= 'A utilisé un ' %>
            <br/>
            <%= fight['looser_weapon'].name %>
            <br/>
            <br/>
            <%= 'A attaqué ' %><%= fight['looser_nb_attack'] %><%= ' fois.' %>
          </div>
        </div> 
        
        <div class="card-list history-list">
          
          <%= 'Détails: ' %>
          <br/>
          <% fight['detail'].each do |line|%>
            <%= line %>
            <br/>
          <% end %>
        </>
      </div>
          <br/>
    <% end %>
    <%= link_to "Retour", request.referer.present? ? request.referer : default_path, class:"btn btn-info" %>
</div>