<div class="container">
  <h1>Historique</h1>
    <% @fight_summaries.each do |fight| %>
      <div class="history-card">
        <%= 'Gagnant: ' %>
        <br/>
        <%= fight['winner'] %>
        <br/>
        <%= fight['winner_weapon'] %>
        <br/>
        <%= fight['winner_nb_attack'] %>
        <br/>
        <%= 'Perdant: ' %>
        <br/>
        <%= fight['looser'] %>
        <br/>
        <%= fight['looser_weapon'] %>
        <br/>
        <%= fight['looser_nb_attack'] %>
        <br/>
        
        <%= 'Détails: ' %>
        <%= fight['detail'] %>

        <br/>
        <br/>
        <br/>
      </div>
    <% end %>
    <%= link_to "Retour", request.referer.present? ? request.referer : default_path, class:"btn btn-info" %>
</div>