<div class="container">
  <h1>Fights#index</h1>
  <p>Choisis les candidats</p>

  <%= form_for :fight do |f| %>
    <div class="form-group">
      <%= f.select(:candidate_a, options_for_select(
                    @candidates.collect{ |candidate| ["#{candidate.name}:  
                    💙 #{candidate.popularity_points}  -  
                    ⚡#{candidate.attack_strength}", candidate.id]}), 
                    class: "form-control")%>
    </div>
    
    <p>vs</p>

    <div class="form-group">
      <%= f.select(:candidate_b, options_for_select(
                    @candidates.collect{ |candidate| ["#{candidate.name}:  
                    💙 #{candidate.popularity_points}  -  
                    ⚡#{candidate.attack_strength}", candidate.id]}), 
                    class: "form-control")%>
    </div>


    <%= f.submit "S'affronter !", class: 'btn btn-warning'%>

  <% end %>


  <%= link_to "Liste des candidats", candidates_path, class:"btn btn-info" %>
  <%= link_to "Historique", fights_history_path, class:"btn btn-info" %>
</div>

