<div class="container">
  <div class="header">
    <h1>Lancer une campagne</h1>
    <h3>Choisis les candidats</h3>
    <br/>
    <p>
      Qui soutenez-vous aux éléctions ?
    <br/>
      Qui sera son adversaire ?
    </p>
  </div>
  <%= form_for :fight do |f| %>
    <div class="form-group">
      <%= f.select(:candidate_a, options_for_select(
                    @candidates.collect{ |candidate| ["#{candidate.name}:  
                    💙 #{candidate.popularity_points}  -  
                    ⚡#{candidate.attack_strength}", candidate.id]}), 
                    class: "form-control b-form-select")%>
      <%= f.select(:weapon_a, options_for_select(
        @weapons.collect{ |weapon| ["#{weapon.name}:  
                    🧡 #{weapon.defence}  -  
                    💪#{weapon.attack}", weapon.id]}), 
                    class: "form-control")%>
    </div>
    
    <p>vs</p>

    <div class="form-group">
    
      <%= f.select(:candidate_b, options_for_select(
                    @candidates.collect{ |candidate| ["#{candidate.name}:  
                    💙 #{candidate.popularity_points}  -  
                    ⚡#{candidate.attack_strength}", candidate.id]}), 
                    class: "form-control")%>
      <%= f.select(:weapon_b, options_for_select(
                    @weapons.collect{ |weapon| ["#{weapon.name}:  
                    🧡 #{weapon.defence}  -  
                    💪#{weapon.attack}", weapon.id]}), 
                    class: "form-control")%>
    </div>


    <%= f.submit "S'affronter !", class: 'btn btn-warning'%>

  <% end %>


  <%= link_to "Liste des candidats", candidates_path, class:"btn btn-info" %>
  <%= link_to "Historique", fights_history_path, class:"btn btn-info" %>
</div>

